* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252C;
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #1A1B21;
  width: 317px;
  /*overflow: hidden;*/
}

.info_section {
  margin: auto;
  margin-top: 0.5%;
  text-align: center;
}

.info--img {
  border-radius: 10px 10px 0px 0px;
}

.info--titles {
  margin: 26px 0px 22px 0px;
}

.info--titles>h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 15px 0px 15px 0px;
}

.info--titles>h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F3BF99;
}

.info--titles>a {
  text-decoration: none;
  font-weight: 400;
  color: #F5F5F5;
  font-size: 10px;
  line-height: 150%;
}